.circle{
    background-color: violet;
    height: 350px;
    width: 350px;
    border-radius:50% ;
    margin-top: 5%;
    margin-left: 3%;
}

.box{
    background-color: whitesmoke;
    padding: 900px;
    margin-left: 40%;
    margin-top: -30%;
}



h1{
    color: goldenrod;
    font-family: sans-serif;
    text-align: center;
    margin-top: -115%;
}


.Email1{
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    margin-top: -19%;
    margin-left: 70%

}



.Email2{
    color: goldenrod;
    text-decoration: underline;
    font-family:Montserrat ;
    text-align:end;
    margin-top: -1%;
}




@font-face {
    font-family:Montserrat ;
    src: url(static/Montserrat-Italic.ttf) format(truetype)
}


.p2{
    font-weight: 700;
    font-family: Montserrat;
    text-align: start;
    margin-top: 12%;
    margin-left: 148px;
}

.h3{
    margin-top:-275px;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    

}

.p3{
    color: goldenrod;
    font-size: large;
    text-align: center;
    margin-top:20px;

}


img{
    border-radius: 100%;
    width: 300px;
    float: left;
    height: 300px;
    margin-top: -12%;
    margin-left: 5%;
    
    
}

.name{
    font-family: Montserrat;
    color: goldenrod;
    text-align: start;
    margin-top: 19%;
    margin-left: 148px;
    font-weight: 800;

}

.aboutme{
    font-family: Montserrat;
    text-align: justify;
    margin-left:46%;
}